# Configuration of clangd
# =============================
#
# Documentation: https://clangd.llvm.org/config
#
# TODO: finish the settings

CompileFlags:
  CompilationDatabase: .
  BuiltinHeaders: QueryDriver
  Add:
    - -std=c++20
    - -Wall
    - -Wextra
    - -DUNICODE
    - -D_UNICODE

Diagnostics:
  UnusedIncludes: Strict

Index:
  Background: Build

InlayHints:
  BlockEnd: false
  Designators: true
  Enabled: true
  ParameterNames: true
  DeducedTypes: true
  DefaultArguments: false # clangd 20
  TypeNameLimit: 24

Completion:
  AllScopes: true
  ArgumentLists: FullPlaceholders
  HeaderInsertion: Never
  CodePatterns: All