# Copyright (c) 2025 AIperture-Labs <xavier.beheydt@gmail.com>
# SPDX-License-Identifier: MIT

---
Language: Cpp
Standard: c++20

BasedOnStyle: Google
IndentWidth: 4
ColumnLimit: 120

# Includes
SortIncludes: true
IncludeBlocks: Regroup

# Line breaking / wrapping
AlignAfterOpenBracket: Align
BinPackArguments: false
BinPackParameters: false
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false

# Initializers & C++20
Cpp11BracedListStyle: true
SpaceBeforeCpp11BracedList: false

# Braces (engine / Vulkan friendly)
BreakBeforeBraces: Custom
BraceWrapping:
  AfterStruct: true
  AfterClass: true
  AfterFunction: true
  AfterControlStatement: true
  BeforeElse: true

# Short statements → NEVER (lisibilité moteur)
AllowShortBlocksOnASingleLine: Never
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false

# Alignment
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignOperands: true
AlignTrailingComments: true

# Pointers & references
PointerAlignment: Right
ReferenceAlignment: Right

# Preprocessor directives indentation: indent directives according to surrounding code
# Options: None, AfterHash, BeforeHash
IndentPPDirectives: AfterHash

# Misc engine hygiene
SortUsingDeclarations: true
AlwaysBreakTemplateDeclarations: Yes
BreakConstructorInitializers: AfterColon
ConstructorInitializerAllOnOneLineOrOnePerLine: false

SeparateDefinitionBlocks: Always